body {
  background-color: #00B5E6;
    font-family: Didot;
    text-align: center;
}

div {
  border: 5px solid #7F1414;
  display: inline-block;
}

img {
  border-radius: 50%;
  border: 10px solid #00B5E6;
}

.inspiration {
  background-color: #E2C613;
  height: 700px;
  width: 700px;
  display: inline-block;
}

#title {
  font-size: 50px;
  background-color: #7F1414;
  color: #00B5E6;
  margin: auto;
  padding: 20px;
}

.palette {
  background-color: white;
  width: 800px;
}

.dot {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
}

.dot.one {
  background-color: #00B5E6;
}

.dot.two {
  background-color: #7F1414;
}

.dot.three {
  background-color: #14207F;
}

.dot.four {
  background-color: #E2C613;
}

#square {
  height: 100px;
  width: 100px;
  background-color: #14207F;
  display: inline-block;
}
